@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* DID word */

.didDLetter {
  font-size: 50px;
}

.didILetter {
  font-size: 50px;
}

.didDTwoLetter {
  font-size: 50px;
}

/* THE word */

.theTLetter {
  font-size: 50px;
}

.theHLetter {
  font-size: 50px;
}

.theELetter {
  font-size: 50px;
}

/* FRONT-END word */

.frontendFLetter {
  font-size: 50px;
}

.frontendRLetter {
  font-size: 50px;
}

.frontendOLetter {
  font-size: 50px;
}

.frontendNLetter {
  font-size: 50px;
}

.frontendTLetter {
  font-size: 50px;
}

.frontendELetter {
  font-size: 50px;
}

.frontendNTwoLetter {
  font-size: 50px;
}

.frontendDLetter {
  font-size: 50px;
}

/* DEVELOPER word */

.developerDLetter {
  font-size: 50px;
}
.developerELetter {
  font-size: 50px;
}
.developerVLetter {
  font-size: 50px;
}
.developerETwoLetter {
  font-size: 50px;
}
.developerLLetter {
  font-size: 50px;
}
.developerOLetter {
  font-size: 50px;
}
.developerPLetter {
  font-size: 50px;
}
.developerEThreeLetter {
  font-size: 50px;
}
.developerRLetter {
  font-size: 50px;
}

/* TAKE word */

.takeTLetter {
  font-size: 50px;
}
.takeALetter {
  font-size: 50px;
}
.takeKLetter {
  font-size: 50px;
}
.takeELetter {
  font-size: 50px;
}

/* UP word */

.upULetter {
  font-size: 50px;
}
.upPLetter {
  font-size: 50px;
}

/* GARDENING word */

.gardeningGLetter {
  font-size: 50px;
}
.gardeningALetter {
  font-size: 50px;
}
.gardeningRLetter {
  font-size: 50px;
}
.gardeningDLetter {
  font-size: 50px;
}
.gardeningELetter {
  font-size: 50px;
}
.gardeningNLetter {
  font-size: 50px;
}
.gardeningILetter {
  font-size: 50px;
}
.gardeningNTwoLetter {
  font-size: 50px;
}
.gardeningGTwoLetter {
  font-size: 50px;
}

/* BECAUSE word */

.becauseBLetter {
  font-size: 50px;
}
.becauseELetter {
  font-size: 50px;
}
.becauseCLetter {
  font-size: 50px;
}
.becauseALetter {
  font-size: 50px;
}
.becauseULetter {
  font-size: 50px;
}
.becauseSLetter {
  font-size: 50px;
}
.becauseETwoLetter {
  font-size: 50px;
}

/* THEY word */

.theyTLetter {
  font-size: 50px;
}
.theyHLetter {
  font-size: 50px;
}
.theyELetter {
  font-size: 50px;
}
.theyYLetter {
  font-size: 50px;
}

/* WANTED word */

.wantedWLetter {
  font-size: 50px;
}
.wantedALetter {
  font-size: 50px;
}
.wantedNLetter {
  font-size: 50px;
}
.wantedTLetter {
  font-size: 50px;
}
.wantedELetter {
  font-size: 50px;
}
.wantedDLetter {
  font-size: 50px;
}

/* TO word */

.toTLetter {
  font-size: 50px;
}
.toOLetter {
  font-size: 50px;
}

/* IMPROVE word */

.improveILetter {
  font-size: 50px;
}
.improveMLetter {
  font-size: 50px;
}
.improvePLetter {
  font-size: 50px;
}
.improveRLetter {
  font-size: 50px;
}
.improveOLetter {
  font-size: 50px;
}
.improveVLetter {
  font-size: 50px;
}
.improveELetter {
  font-size: 50px;
}

/* THEIR word */

.theirTLetter {
  font-size: 50px;
}
.theirHLetter {
  font-size: 50px;
}
.theirELetter {
  font-size: 50px;
}
.theirILetter {
  font-size: 50px;
}
.theirRLetter {
  font-size: 50px;
}

/* ROOT word */

.rootRLetter {
  font-size: 50px;
}
.rootOLetter {
  font-size: 50px;
}
.rootOTwoLetter {
  font-size: 50px;
}
.rootTLetter {
  font-size: 50px;
}

/* SKILLS word */

.skillsSLetter {
  font-size: 50px;
}
.skillsKLetter {
  font-size: 50px;
}
.skillsILetter {
  font-size: 50px;
}
.skillsLLetter {
  font-size: 50px;
}
.skillsLTwoLetter {
  font-size: 50px;
}
.skillsSTwoLetter {
  font-size: 50px;
}

/* SYMBOLS */

.hyphen {
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: darkred;
  background-color: darkorchid;
}
.exclamation-mark {
  color: darkseagreen;
  background-color: magenta;
  font-size: 50px;
}
.question-mark {
  color: darkseagreen;
  font-size: 50px;
  background-color: #837483;
}

/* Selectors */

[class*="Letter"] {
  font-weight: bolder;
}

[class*="Letter"]:nth-of-type(6n + 1) {
  font-size: 400;
  color: #b22222;
  text-decoration: line-through;
  transform: rotate(45deg);
  font-family: "piazzolla", sans-serif;
  background-color: chocolate;
}

[class*="Letter"]:nth-of-type(6n + 2) {
  font-size: 700;
  text-decoration-line: underline;
  font-family: "Ceviche One", sans-serif;
  background-color: aqua;
  color: darkgoldenrod;
  transform: rotate(180deg);
}

[class*="Letter"]:nth-of-type(6n + 3) {
  font-size: 75px;
  font-family: "Raleway Dots", sans-serif;
  text-decoration: overline;
  color: coral;
  background-color: darkolivegreen;
  transform: rotate(90deg);
}

[class*="Letter"]:nth-of-type(6n + 4) {
  font-family: "piazzolla", sans-serif;
  font-size: 49px;
  background-color: chocolate;
  color: aqua;
  text-decoration: overline;
  font-variant: normal;
  transform: rotate(270deg);
}

[class*="Letter"]:nth-of-type(6n + 5) {
  font-family: "Ceviche One", sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  background-color: yellowgreen;
  color: darkgoldenrod;
  transform: rotate(45deg);
}

[class*="Letter"]:nth-of-type(6n + 6) {
  font-family: "Raleway Dots", sans-serif;
  color: coral;
  font-size: 70px;
  background-color: darkolivegreen;
  text-decoration: underline;
  transform: rotate(135deg);
}
